*{
    user-select: none;
}

.text-center{
    text-align: center;
    font: bolder;
    font-size: 2.5rem;
    padding: 0;
}

#displaySM{
    display: none;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}

#successMessage{
    border-radius: 8px;
    color: white;
    background-color: green;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
}

/* Successfully delete Massege */
#displaySMR{
    display: none;
    text-align: center;
}

#successMessageR{
    color: green;
    font-size: 1.3rem;
    font-weight: lighter;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input{
    padding: 10px;
    /* border-radius: 8px; */
    border: 1px solid gray;
    width: 40%;
    height: 40px;
    margin-bottom: 20px;
    outline: none;
}

#eventPic{
     border: none;
}

#para{
    padding: 10px;
    /* border-radius: 8px; */
    border: 1px solid gray;
    width: 40%;
    margin-bottom: 20px;
    height: 100px;
}

/* input placeholder color */
form input::placeholder{
    color: gray;
}

form button{
    width: 40%;
    height: 40px;
    border: 1px solid rgb(0, 0, 0);
    /* border-radius: 5px; */
    background-color: #fff;
    color: black;
    font-size: 1.3rem;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
}

#DeleteEvent{
    width: 20%;
    height: 40px;
    border: 1px solid red;
    border-radius: 5px;
    background-color: #fff;
    color: red;
    font-size: 1.3rem;
    font-weight: lighter;
    cursor: pointer;
    text-align: center;
    margin-top: 5%;
   /* display the to the center */
    margin-left: auto;
    margin-right: auto;
    display: none;
}

/* FOOTER */
footer{
    /* PUT THE FOOTER AT THE BOTTOM OF THE PAGE */
    width: 100%;
    text-align: center;
    margin-top: 15%;
}





/* media queries */
@media screen and (max-width: 768px){
    .text-center{
        text-align: center;
        font-weight: bolder;
        font-size: 2.5rem;
        margin-bottom: 10%;
        margin-top: 5%;
    }
    
    #displaySM{
        display: none;
        text-align: center;
        width: 90%;
        text-align: center;
    }
    
    #successMessage{
        color: white;
        background-color: green;
        font-size: 1.3rem;
        font-weight: lighter;
        text-align: center;
    }
    
    /* Successfully delete Massege */
    #displaySMR{
        display: none;
        text-align: center;
    }
    
    #successMessageR{
        color: green;
        font-size: 1.3rem;
        font-weight: lighter;
        text-align: center;
    }
    
    form{
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }
    
    form input{
        width: 90%;
        margin-bottom: 20px;
        outline:0;
        border: 0;
        border: 1px solid black;
    }

    #para{
        width: 90%;
        margin-bottom: 20px;
        height: 80px;
        resize:vertical;
    }
    
    #eventPic{
        border: none;
    }

    /* input placeholder color */
    form input::placeholder{
        color: gray;
    }
    
    form button{
        width: 90%;
        height: 40px;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        background-color: #fff;
        color: black;
        font-size: 1.3rem;
        font-weight: lighter;
        cursor: pointer;
        text-align: center;
    }
    
    #DeleteEvent{
        margin-top: 20%;
        width: 90%;
        height: 40px;
        border: 1px solid red;
        border-radius: 5px;
        background-color: #fff;
        color: red;
        font-size: 1.3rem;
        font-weight: lighter;
        cursor: pointer;
        text-align: center;
       /* display the to the center */
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        margin-top: 20%;
    }

}