*{
    /* dont allow horizontal scrolling */
    overflow-x: hidden;
}

/* WELCOME SECTION DIV THAT DISPLAY A WELCOME PICTURE */
#welcomeSectionPicture{
    background-image: url("WelcomePicture2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    width: 70%;
    /* alight the picture in the middle of the screen */
    margin: auto;
}

/* DISPLAYS A SCROOL DOWN BUTTON */
/* SCROOL DOWN SECTION ERROW */
#scroolArrow{
    font-size: 3rem;
    color: white;
    animation: animate 2s infinite;
    margin-top: -5%;
}

#scroll-down-animation {
    text-align: center;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scroolArrow a{
    text-decoration: none;
}
  
h2{
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 15px;
    margin-top: 1.5%;
    letter-spacing: 0.5px;
}
  
.mouse{
    margin: 0 auto;
    display: block;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    height: 70px;
    width: 40px;
    position: relative;
}
  
.move{
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation: move 2s linear infinite;
}
  
@keyframes move{
    0% {
      transform: translate(-50%,3px);
      opacity: 0;
    }
    50% {
      transform: translate(-50%,40px);
      opacity: 1;
    }
    100% {
        transform: translate(-50%,53px);
        opacity: 0;
      }
}

/* THE BEST COFFEESHOP TDIV */
#bestCoffeeshop{
    color: black;
    width: 100%;
    text-align: center;
}

#bestCoffeeshopText{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-top: 10%;
}

#bestCoffeeshopText h1{
    margin-bottom: 2%;
    font-size: 3rem;
}

#bestCoffeeshopText p{
    margin: 0 5% 5% 5%;
}

.bestCoffeeshopPictures{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

/* REWARDS SYSTEM SECTION*/
#rewardSystem{
    width: 100%;
}

#rewardSystemText{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-top: 10%;
    text-align: center;
    width: 90%;
    margin: 15% auto;
}

#rewardSystemText h1{
    margin-bottom: 2%;
    font-size: 3rem;
}

/* EVENTS SECTION */
#event{
    display: none;
    margin-top: -1%;
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: center;
}

#eventTITLE{
    margin-top: 5%;
}

#displayEventTEXT{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-top: 10%;
    text-align: center;
    vertical-align: center;
}

#eventText h1{
    margin-bottom: 2%;
    font-size: 3rem;
}

#displayEventImage img{
    /* make it not strech */
   object-fit: cover;
   border-radius: 5px;

}



/* JOIN OUR TEAM SECTION */
#joinOurTeam{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 5%;
    text-align: center;
}

#joinOurTeamText{
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-top: 10%;
    text-align: center;
}

#joinOurTeamText h1{
    margin-bottom: 2%;
    font-size: 3rem;
}

#joinOurTeamText p{
    margin: 0 5% 5% 5%;
}

#joinOurTeam button{
    margin-top: -1%;
    padding: 1% 5% 1% 5%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #fff;
    color: black;
    font-size: 1rem;
    font-weight: lighter;
    letter-spacing: 0.5px;
    margin-bottom: 5%;
}

#joinOurTeam a{
    text-decoration: none;
    color: black;
}

/* FOOTER */
footer{
    /* PUT THE FOOTER AT THE BOTTOM OF THE PAGE */
    width: 100%;
    text-align: center;
    margin-top: 20%;
}









/* media queries */
@media screen and (max-width: 768px){
    #welcomeSectionPicture{
        background-image: url("WelcomePicture2.png");
        background-size: contain;
        height: 60vh;
        width: 100%;
    }

    #scroolArrow{
        font-size: 2rem;
        color: white;
        animation: animate 2s infinite;
        margin-top: -5%;
    }

    h2{
        margin-bottom:15%;
    }
    
    #bestCoffeeshop{
        margin-top: 25%;
    }

    #bestCoffeeshopText .bestCoffeeshoph1{
        font-size: 2.4rem;
        margin-bottom: 5%;
    }

    #bestCoffeeshopText p{
        text-align: left;
        text-indent: 10%;
        margin-top: 5%;
    }

    #bestCoffeeshopPictures{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 15%;
    }

    #rewardSystem{
        margin-top: 20%;
    }

    #rewardSystemText h1{
        font-size: 2.4rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    #rewardSystemText{
        margin-top: 5%;
        margin-bottom: 10%;
    }

    #event{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 15%;
    }

    #eventTITLE{
        margin-top: 10%;
    }

    #joinOurTeam{
        margin-top: 10%;
    }

    #joinOurTeamText h1{
        font-size: 2rem;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #joinOurTeamText p{
        margin-top: 5%;
        text-align: left;
        text-indent: 10%;
        margin-bottom: 10%;
    }

    #joinOurTeamText p{
        margin: 0 5% 5% 5%;
    }

    #joinOurTeam button{
        margin-top: 5%;
        padding:10px 15px;
        border: 1px solid black;
        border-radius: 5px;
        background-color: #fff;
        color: black;
        font-size: 1rem;
        font-weight: lighter;
        letter-spacing: 0.5px;
        margin-bottom: 5%;
    }

    footer{
        margin-top: 20%;
    }
}

